* {
  box-sizing: border-box;
}
header {
  text-align: center;
}
#search-bar {
  padding: 12px;
  display: inline-block;
  margin-bottom: 20px;
  width: 45%;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}
.image {
  flex-grow: 1;
  flex-basis: 50%;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .image {
    flex-basis: 33.3%;
  }
}
@media (min-width: 1024px) {
  .image {
    flex-basis: 25%;
  }
}

